<%= form_with model: post, data: { controller: :location } do |form| %>
  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "Disaster Title" %>
  </div>
  </br>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control", placeholder: "Disaster Content" %>
  </div>
  </br>
  <div>
    <%= form.label "Street Address" %>
    <%= form.text_field :address, class: "form-control", placeholder: "25 Maginhawa" %>
  </div>
  </br>
  </br>
  <div class="dropdown">
    <%= form.label :address_region_id %>
    <%= form.collection_select :address_region_id,
                               Address::Region.all, :id, :name,
                               { prompt: 'Please Select Region' },
                               data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
  </div>
  </br>
  <div class="dropdown"> 
    <%= form.label :address_province_id %>
    <%= form.collection_select :address_province_id,
                               [], nil, nil,
                               { prompt: 'Please Select Province' },
                               data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities'} %>
  </div>
  </br>
  <div class="dropdown">
    <%= form.label :address_city_id %>
    <%= form.collection_select :address_city_id,
                               [], nil, nil,
                               { prompt: 'Please Select City' },
                               data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays'} %>
  </div>
  </br>
  <div class="dropdown">
    <%= form.label :address_barangay_id %>
    <%= form.collection_select :address_barangay_id,
                               [], nil, nil,
                               { prompt: 'Please Select Barangay' },
                               data: { location_target: 'selectBarangayId' } %>
  </div>
  </br>
  <div>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  </br>
  <%= form.submit class:'btn btn-warning'%>
  </br>
<% end %>