<h1>show post id: <%= @post.id %></h1>
<ul>
  <li><%= @post.title %></li>
  <li><%= @post.content %></li>
  <li><%= @post.user&.email %></li>
</ul>

<%= final_url = short_url(post_url(@post))%>
<%= p post_url(@post)%>
<%# final_url = short_url(post_url(@post))
      record = Post.new(shorten_url:final_url )
      record.save %>
<%= link_to 'Index', posts_path %>

